:root {
  --default-font: "Roboto Condensed", sans-serif;
  font-family: var(--default-font);

  --background: #f1f1f1;
  --font-color: #161616d8;

  --inverted-background: #161616;
  --inverted-font-color: #f1f1f1d8;

  --x-font-color: #e6331e;
  --x-background-color: #2277e6;
  --o-font-color: #2277e6;
  --o-background-color: #e6331e;

  --win-background: #bfe61e;

  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;
  --font-size-60: 3.75rem;
  --font-size-70: 4.25rem;
  --font-size-80: 5rem;
  --font-size-90: 5.5rem;

  --default-transition: all 0.2s ease-in-out;
  --default-animation: active 0.5s ease-in;
}

.dark {
  --background: #161616;
  --font-color: #f1f1f1d8;

  --inverted-background: #f1f1f1;
  --inverted-font-color: #161616d8;
  transition: var(--default-transition);
}

body {
  color: var(--font-color);
  background: var(--background);
  height: 100vh;
  margin: 0;
  transition: var(--default-transition);
}

h1,
.wins h5,
h3 {
  margin: 0;
}

input {
  font-family: var(--default-font);
  font-size: var(--font-size-20);
  background-color: var(--background);
  color: var(--font-color);
  border: 2px solid var(--font-color);
  padding: 10px;
  border-radius: 10px;
  transition: var(--default-transition);
}

input::placeholder {
  font-family: var(--default-font);
  font-size: var(--font-size-20);
  color: var(--font-color);
  transition: var(--default-transition);
}

label {
  font-size: var(--font-size-16);
}

.container {
  width: fit-content;
  margin: 0 auto;
}

@keyframes active {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
